<div class="page-title-area">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Announcement</h4>
      </div>
    </div>
  </div>
</div>

<div class="main-content-inner">

  <!-- market value area start -->
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form>

            <div class="row">
              <div class="form-group col-md-6">
                <label class="col-form-label">Title</label>
                <input class="form-control" type="text" id="Title">
              </div>
            </div>

            <div class="row">
            <div class="form-group col-md-6">
              <label class="col-form-label">Description</label>
              <textarea class="form-control" aria-label="With textarea" placeholder="Enter Your Announcement " rows="5" ></textarea>
            </div>
            </div>


          </form>


          <button type="submit" class="btn btn-danger pull-right ml-2">Discrad</button>
          <button type="submit" class="btn  btn-success pull-right ml-2" (click)="saveData()">Save</button>

        </div>

      </div>
    </div>
  </div>


</div>
