<div class="page-content">
  <div class="page-title-area">
    <div class="row align-items-center content-header">
      <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix">
          <h4 class="page-title pull-left">New Quiz</h4>
        </div>
        <div class="breadcrumbs-area clearfix">
          <ul class="breadcrumbs pull-left mt-3">
            <li><a [routerLink]="[ROUTES.WELCOME]">Home</a></li>
            <li><a [routerLink]="[ROUTES.COURSE_LIST]">Course</a></li>
            <li><a [routerLink]="[replaceCorID(ROUTES.COR_VIEW_QUIZ, corID)]">Quiz</a></li>
            <li><span>New</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="page-content-area">
    <div class="offset-2 col-lg-8">
      <app-alert [data]="alert"></app-alert>
    </div>
    <div class="row">
      <div class="col-6 mt-5 mb-5 " style="margin: auto">
        <div class="card">
          <div class="card-body">
            <h4 class="header-title">Create New Quiz</h4>
            <form [formGroup]="formData">
              <div class="form-group">
                <label for="quiz_name" class="col-form-label">Quiz Name*</label>
                <input class="form-control" formControlName="quizName" type="text" id="quiz_name"
                       [ngClass]="{'is-invalid': form.quizName.dirty && form.quizName.errors != null}">
                <small *ngIf="form.quizName.errors?.maxLength">length should be less than 10</small>
                <small *ngIf="form.quizName.errors?.required">Quiz name is required</small>
              </div>
              <div class="form-group">
                <label for="quiz_grade" class="col-form-label">Grade*</label>
                <input class="form-control" formControlName="quizGrade" type="number" id="quiz_grade"
                       [ngClass]="{'is-invalid': form.quizGrade.dirty && form.quizGrade.errors != null}">
                <small *ngIf="form.quizName.errors?.min">value should not  be less than 1</small>
                <small *ngIf="form.quizName.errors?.required">Quiz grade is required</small>

              </div>

              <div class="form-group">
                <label for="start_date" class="col-form-label">Start Date*</label>
                <input class="form-control" type="date" formControlName="startDate" id="start_date">
              </div>
              <div class="form-group">
                <label for="finish_date" class="col-form-label">close Date*</label>
                <input class="form-control" type="date" formControlName="finishDate" id="finish_date">
              </div>
            </form>
            <a><button class="btn btn-primary pull-right " (click)="onSubmitNewQuiz()">Next</button> </a>
            <a [routerLink]="[replaceCorID(ROUTES.COR_VIEW_QUIZ, corID)]"><button class="btn btn-dark pull-right mr-2">Discard</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


