
<ul class="metismenu" id="menu">
  <li>
    <a [routerLink] = "[replaceCorID(ROUTES.COURSE_INFORMATION, corID)]"><i></i><span>Course Information</span></a>
  </li>
  <li>
    <a [routerLink] = "['/course',corID,'lecture']"><i ></i><span>Lectures </span></a>
  </li>
  <li>
    <a [routerLink] ="[replaceCorID(ROUTES.COR_VIEW_QUIZ, corID)]"><i ></i><span>Quizes </span></a>
  </li>

  <li>
    <a [routerLink] ="[replaceCorID(ROUTES.COR_VIEW_EXAM, corID)]"><i ></i><span>Exams </span></a>
  </li>

  <li>
    <a [routerLink] = "['/course',corID,'attendance']"><i ></i><span>Attendance</span></a>
  </li>



  <li>
    <a [routerLink] = "['/course',corID,'grade']"><i></i><span>Grades</span></a>
  </li>


  <li>
    <a *authorizeView="[AUTH_VIEWS.ADD_MATERIAL]"
      [routerLink] = "['/course',corID,'lecture', lecID,'addMaterial']"><i ></i><span>Add Material </span></a>
  </li>



</ul>
