
<ul class="metismenu" id="menu">
  <li [routerLink] ="[replaceCorID(ROUTES.COR_VIEW_ANNOUNCEMENT, corID)]"
  >
    <a> <i></i><span>Home</span></a>
  </li>
  <li [routerLink] = "['/course',corID,'lecture']" routerLinkActive="active">
    <i ></i><span>Lectures </span>
  </li>
  <li>
    <a [routerLink] ="[replaceCorID(ROUTES.COR_VIEW_QUIZ, corID)]"><i ></i><span>Quizes </span></a>
  </li>

  <li>
    <a [routerLink] = "['/course',corID,'attendance']"><i ></i><span>Attendance</span></a>
  </li>
  <li>
    <a [routerLink] = "['/course',corID,'grade']"><i></i><span>Grades</span></a>
  </li>

  <li>
    <a [routerLink] = "['/course',corID,'information']"><i></i><span>Course Information</span></a>
  </li>
</ul>
