<div class="col-lg-6 mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title">Attendance Sheet</h4>
      <div class="single-table">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class="text-uppercase bg-info">
            <tr class="text-white">
              <th >Name</th>
              <th >12/5</th>
              <th>17/5</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td scope="row">{{attendance.fullName}}</td>
              <!--<td>{{attendance.isAttend}}</td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
