
<div class="main-content-inner">
  <div class="card-area">
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-5" *ngFor="let course of resultSet.list">
        <div class="card card-bordered">
          <img class="card-img-top img-fluid course-img" src="{{course.imagePath}}" alt="image">
          <div class="card-body">
            <h5 class="title clickable" [routerLink]="[ROUTES.COURSE_HOME, course.id]">
              {{course.courseName}}
            </h5>
            <h5 class="title">
              {{course.duration}} Hr - {{course.startDate | date: 'dd MMM yyyy'}}
            </h5>
            <h5 class="title">
              By {{course.instructorName}}
            </h5>
            <p class="card-text">{{course.description}}</p>
          </div>

        </div>
      </div>

  </div>
</div>
</div>
