
<div class="page-content">
<div class="page-title-area">
  <div class="row align-items-center content-header">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Grades</h4>
      </div>
      <div class="breadcrumbs-area clearfix">
        <ul class="breadcrumbs pull-left mt-3">
          <li><a [routerLink]="[ROUTES.WELCOME]">Home</a></li>
          <li><a [routerLink]="[ROUTES.COURSE_LIST]">Course</a></li>
          <li><span>Grade</span></li>
        </ul>
      </div>
    </div>

  <!--<div class="col-sm-6 clearfix">-->
    <!--<div class="pull-right">-->

         <!--[routerLink] ="[replaceCorID(ROUTES.COR_CREATE_GRADE, corID)]">-->
        <!--<i class="fa fa-plus pr&#45;&#45;10"></i> Add Grade</a>-->
    <!--</div>-->
  <!--</div>-->
    <div class="col-sm-6 clearfix">
      <div class="pull-right">
        <a class="btn btn-success btn-header"
           *authorizeAction="[AUTH_ACTIONS.COR_ADD_GRADE]"
           [routerLink] ="[replaceCorID(ROUTES.COR_CREATE_GRADE, corID)]">
          <i class="fa fa-plus pr--10"></i> Edit Grade</a>
      </div>
    </div>
  </div>
</div>
  <div class="page-content-area">
    <div class="offset-2 col-lg-8">


  <div class="card">
    <div class="card-body">
      <div class="single-table">
        <div class="table-responsive">


           <table class="table text-center"  >
            <thead class="text-uppercase bg-secondary">
            <tr class="text-white">

              <th>Student Name</th>
              <th>Mid-Term-Grd</th>
              <!--<th>Semi-Final-Grd</th>-->
              <!--<th>Mid-Two-Grd</th>-->
              <th>Final-Grd</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of resultSet.studentLis  | paginate: { id: 'viewGrade',
                itemsPerPage: 2,
                currentPage: pageNum,
                totalItems: resultSet.totalRecords }">
              <td> {{student.fullName}}</td>
              <td>{{student.midTermOne}}</td>
              <!--<td>{{student.semiFinal}}</td>-->
              <!--<td>{{student.midTermTwo}}</td>-->
              <td>{{student.finalGrd}}</td>
              <!--<td>-->
                <!--<a >-->
                  <!--&lt;!&ndash;<button  class="btn btn-primary pull-right ml-2" >Edit</button>&ndash;&gt;-->
                  <!--<div class="fw-icons col-lg-3 col-sm-6"><a href="#"><i-->
                    <!--class="fa fa-edit"></i> </a></div>-->
                <!--</a>-->
              <!--</td>-->
            </tr>
            </tbody>

          </table>

        </div>
      </div>
      <div class="row align-content-center">
        <pagination-controls class="pagination justify-content-center" id="viewGrade"
                             (pageChange)="onPageChange($event)"
                             directionLinks="true" [autoHide]="false"
                             previousLabel="" nextLabel="">
        </pagination-controls>

      </div>
    </div>
  </div>


</div>
  </div>
</div>
