
<div class="page-content">
<div class="page-title-area">
  <div class="row align-items-center content-header">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Grade</h4>
        <br/>
        <ul class="breadcrumbs pull-left mt-3">
          <li><a [routerLink]="[ROUTES.WELCOME]">Home</a></li>
          <li><a [routerLink]="[ROUTES.COURSE_LIST]">Courses</a></li>
          <li><a [routerLink]="[replaceCorID(ROUTES.COURSE_INFORMATION, corID)]">{{corName}}</a></li>
          <li><a [routerLink]="[replaceCorID(ROUTES.COR_VIEW_GRADE, corID)]">Grades</a></li>
          <li><span>New</span></li>
        </ul>
      </div>
    </div>

    <!--<div class="col-sm-6 clearfix">-->
      <!--<div class="dropdown-menu">-->
        <!--<a class="dropdown-item" href="#">Message</a>-->
        <!--<a class="dropdown-item" href="#">Settings</a>-->
        <!--<a class="dropdown-item" href="#">Log Out</a>-->
      <!--</div>-->

    <!--</div>-->
  </div>

</div>
  <div class="page-content-area">
    <div class="offset-2 col-lg-8">

    <div class="card">
        <div class="card-body">
          <h4 class="header-title">Student Grades</h4>
          <div [formGroup]="formData">
            <div class="form-group col-md-4">
              <label class="col-form-label">Grade</label>
              <select (change)="getCourseStudents()" class="form-control" id="grade" formControlName="gradeType">
                <option value="M">Mid Term</option>
                <option value="F">Final Grade</option>
              </select>
            </div>
              <div class="row" formArrayName="items">
                <div class="col-ml-6" *ngFor="let item of items.controls; index as i" [formGroupName]="i">

                  <div class="form-group row ml-1">
                    <label class="col-sm-5 col-form-label">{{students[i].fullName}}</label>
                    <div class="col-sm-5 ">
                      <input type="text" class="form-control " formControlName="grade">
                    </div>
                  </div>


                </div>
              </div>
            <div class="card-action mt-2 pull-right">
              <button type="button" class="btn btn-success mb-3" (click)="onSubmitGradeSheet()">Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


</div>



