<div class="row">
  <div class="col-12 mt-2">
    <div class="card-body " style="background-color: white" >
      <h4 class="header-title">Questions</h4>
      <hr>
      <div  *ngFor="let item of quizQuestions">
       <label>{{item.id}} .</label>
        <label>{{item.question}}</label>
        <br><br>



        <div *ngIf="item.questionTypeID ==1">
          <div class="custom-control custom-checkbox custom-control-inline "  >
            <input type="checkbox" class="custom-control-input" id="choise1">
            <label class="custom-control-label" for="choise1">{{item.answer1}}</label>
          </div>


          <div class="custom-control custom-checkbox custom-control-inline ml-3">
            <input type="checkbox" class="custom-control-input" id="choise2">
            <label class="custom-control-label" for="choise2">{{item.answer2}} </label>
          </div>

          <div class="custom-control custom-checkbox custom-control-inline ml-3">
            <input type="checkbox" class="custom-control-input" id="choise3">
            <label class="custom-control-label" for="choise3">{{item.answer3}}</label>
          </div>

          <div class="custom-control custom-checkbox custom-control-inline ml-3" >
            <input type="checkbox" class="custom-control-input" id="choise4">
            <label class="custom-control-label" for="choise4">{{item.answer4}}</label>
          </div>
        </div>


        <div *ngIf="item.questionTypeID ==2">
        <div class="custom-control custom-radio custom-control-inline " >
          <input type="radio" id="trueAnswer" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="trueAnswer">True</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline ml-5">
          <input type="radio" id="falseAnswer"  name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="falseAnswer">False</label>
        </div>
        </div>
        <hr>
      </div>
    </div>
    <br>
    <button class="btn btn-primary " style="margin-left: 40%; margin-bottom: 2%"> Submit </button>
    <br>
  </div>
</div>
