
<div class="full-page-content">
<div class="page-title-area">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix mt-2">
        <h4 class="page-title pull-left">New Course</h4>
      </div>
      <div class="breadcrumbs-area clearfix">
        <ul class="breadcrumbs pull-left mt-3">
          <li><a [routerLink]="[ROUTES.COURSE_LIST]">Course</a></li>
          <li><span>New</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="full-page-content-area">
<!-- create course area start -->
<div class="row mt-5 mb-5">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-center">
          <h4 class="header-title mb-0">Course Main Details</h4>
        </div>
        <form [formGroup]="formData">
          <div class="form-group d-inline-block col-6">
            <label for="example-text-input" class="col-form-label">Name*</label>
            <input class="form-control" formControlName="courseName" type="text" id="example-text-input"
                   [ngClass]="{ 'is-invalid': f.courseName.dirty && f.courseName.errors?.required }">
            <div *ngIf="submitted && f.courseName.errors" class="invalid-feedback">
                <small *ngIf="f.courseName.errors?.required">Course name can't be null </small>
                <small *ngIf="f.courseName.errors?.maxlength">length of course name less than 25 letter </small>
            </div>
          </div>

          <div class="form-group d-inline-block col-6">
            <label for="example-number-input" class="col-form-label">Duration*</label>
            <input class="form-control" formControlName="duration" type="number" value="Duration with Hours"
                   id="example-number-input"
                   [ngClass]="{ 'is-invalid': f.duration.dirty && f.duration.errors?.required }">
            <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                <small *ngIf="f.duration.errors?.required">duration can't be null </small>
                <small *ngIf="f.duration.errors?.min">duration can't be less than 1 hour </small>
            </div>
          </div>

          <div class="form-group d-inline-block col-6">
            <label for="example-lectureDate-input" class="col-form-label">Start Date*</label>
            <input class="form-control" formControlName="startDate" type="date" id="example-lectureDate-input"
                   [ngClass]="{ 'is-invalid': f.startDate.dirty && f.startDate.errors?.required }">

            <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                <small *ngIf="f.startDate.errors.required">Start Date can't be null </small>
            </div>
          </div>

          <div class="form-group d-inline-block col-6">
            <label for="example-lectureDate-input" class="col-form-label">End Date*</label>
            <input class="form-control" formControlName="endDate" type="date" id="example-lectureDate"
                   [ngClass]="{ 'is-invalid': f.endDate.dirty && f.endDate.errors?.required }">
            <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
              <small *ngIf="f.endDate.errors?.required">End Date can't be null </small>
            </div>
          </div>


          <div class="form-group d-inline-block col-4">
            <label class="col-form-label">Category*</label>
            <select class="form-control" formControlName="categoryID"
                    [ngClass]="{ 'is-invalid': f.categoryID.dirty && f.categoryID.errors?.required }">
              <option *ngFor="let category of corCategoryList" [ngValue]="category.id">{{category.labelEN}}</option>
            </select>
          </div>

          <div class="form-group d-inline-block col-4">
            <label class="col-form-label">Type*</label>
            <select class="form-control" formControlName="typeID"
                    [ngClass]="{ 'is-invalid': f.typeID.dirty && f.typeID.errors?.required }">
              <option *ngFor="let type of corTypeList" [ngValue]="type.id">{{type.labelEN}}</option>
            </select>
          </div>

          <div class="form-group d-inline-block col-4">
            <label class="col-form-label">Level*</label>
            <select class="form-control" formControlName="levelID"
                    [ngClass]="{ 'is-invalid': f.levelID.dirty && f.levelID.errors?.required }">
              <option *ngFor="let level of corLevelList" [ngValue]="level.id">{{level.labelEN}}</option>
            </select>
          </div>

          <div class="form-group d-inline-block col-6">
            <label for="midOneGrd" class="col-form-label">Mid Term grade*</label>
            <input class="form-control" formControlName="midOneGrd" type="number" value="number"
                   id="midOneGrd"
                   [ngClass]="{ 'is-invalid': f.midOneGrd.dirty && f.midOneGrd.errors?.required }">
            <div *ngIf="submitted && f.midOneGrd.errors" class="invalid-feedback">
              <small *ngIf="f.midOneGrd.errors?.required">MID-ONE-GRD can't be null .</small>
            </div>
          </div>

          <!--<div class="form-group d-inline-block col-6">-->
            <!--<label for="semiFinalGrd" class="col-form-label">SEMI-FINAL-GRD*</label>-->
            <!--<input class="form-control" formControlName="semiFinalGrd" type="number" value="number"-->
                   <!--id="semiFinalGrd"-->
                   <!--[ngClass]="{ 'is-invalid': f.semiFinalGrd.dirty && f.semiFinalGrd.errors?.required }">-->
            <!--<div *ngIf="submitted && f.semiFinalGrd.errors" class="invalid-feedback">-->
              <!--<small *ngIf="f.semiFinalGrd.errors?.required">SEMI-FINAL-GRD can't be null .</small>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group d-inline-block col-6">-->
            <!--<label for="midTwoGrd" class="col-form-label">MID-TWO-GRD*</label>-->
            <!--<input class="form-control" formControlName="midTwoGrd" type="number" value="number"-->
                   <!--id="midTwoGrd"-->
                   <!--[ngClass]="{ 'is-invalid': f.midTwoGrd.dirty && f.midTwoGrd.errors?.required }">-->
            <!--<div *ngIf="submitted && f.duration.errors" class="invalid-feedback">-->
              <!--<small *ngIf="f.midTwoGrd.errors?.required">MID-TWO-GRD can't be null .</small>-->
            <!--</div>-->
          <!--</div>-->

          <div class="form-group d-inline-block col-6">
            <label for="finalGrd" class="col-form-label">Final grade*</label>
            <input class="form-control" formControlName="finalGrd" type="number" value="number"
                   id="finalGrd"
                   [ngClass]="{ 'is-invalid': f.finalGrd.dirty && f.finalGrd.errors?.required }">
            <div *ngIf="submitted && f.finalGrd.errors" class="invalid-feedback">
              <small *ngIf="f.finalGrd.errors?.required">Final grade can't be null .</small>
            </div>
          </div>

          <div class="form-group d-inline-block col-12">
            <label for="example-text-input" class="col-form-label">Description</label>
            <textarea class="form-control" formControlName="description" type="text"
                      [ngClass]="{ 'is-invalid': f.description.errors?.max(500)}"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors?.max">
                <small>description must less than 500 letter </small>
              </div>
            </div>
          </div>


          <!--<div class="form-group  pull-right ">-->
            <!--<div class="card-action">-->
              <!--<ul>-->
                <!--<a [routerLink] ="[replaceCorID(ROUTES.COURSE_INFORMATION, corID)]"></a>-->
                <!--<li>-->
                  <!--<button class="btn btn-success d-inline-block col-2" (click)="onSubmitNewCourse()">Create</button>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<button class="ml-2 btn btn-danger d-inline-block col-2">Clear</button>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->


          <div class="pull-right">

            <button type="clear" class="btn btn-danger ml-1 pull-right" (click)="clear()">Clear</button>

            <a [routerLink]="[replaceCorID(ROUTES.COURSE_INFORMATION, corID)]">
              <button class="btn btn-success pull-right" (click)="onSubmitNewCourse()">Create</button>
            </a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</div>
</div>
