<div class="page-content">
  <div class="page-title-area">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix mt-2">
          <h4 class="page-title pull-left">Course Details</h4>
        </div>
        <div class="breadcrumbs-area clearfix">
          <ul class="breadcrumbs pull-left">
            <li><a href="index.html">View Course</a></li>
            <li><span>Dashboard</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 clearfix">
        <div class="pull-right" *ngIf="!isStudentEnroll">
          <button class="btn btn-success btn-header"
                  *authorizeAction="[AUTH_ACTIONS.ENROLL_STUDENT]"
                  (click)="onEnrollNewStudent()">Enroll</button>

        </div>
        <div class="col-sm-12 clearfix">
        <div class="pull-right">
        <a class="btn btn-success btn-header"
        *authorizeAction="[AUTH_ACTIONS.ADD_ATTENDANCE]"
        [routerLink]="[replaceCorID(ROUTES.COR_NEW_ANNOUNCEMENT, corID)]">
        <i class="fa fa-plus pr--10"></i> Add Announcement</a>
        </div>
        </div>
      </div>
      <!--<div class="col-sm-6 clearfix">-->
        <!--<div class="user-profile pull-right">-->
          <!--<img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar">-->
          <!--<h4 class="user-name dropdown-toggle" data-toggle="dropdown"> User Name <i class="fa fa-angle-down"></i></h4>-->
          <!--<div class="dropdown-menu">-->
            <!--<a class="dropdown-item" href="#">Message</a>-->
            <!--<a class="dropdown-item" href="#">Settings</a>-->
            <!--<a class="dropdown-item" href="#">Log Out</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="main-content-inner">
    <!-- View course area start -->
    <div class="row mt-5 mb-5">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex justify-content-between align-items-center">
              <h4 class="header-title mb-0">View Course Details</h4>
            </div>

            <div class="d-inline-block col-6">
              <label for="course-name" class="col-form-label font-weight-bold text-dark ">Course Name : </label>
              <label id="course-name" class="col-form-label label label-info ml-1">{{viewData.courseName}}</label>

            </div>
            <div class="d-inline-block col-6">
              <label for="duration" class="col-form-label font-weight-bold text-dark">Duration :</label>
              <label id="duration" class="col-form-label ml-1">{{viewData.duration}}</label>
            </div>

            <div class="d-inline-block col-6">
              <label for="start-lectureDate" class="col-form-label font-weight-bold text-dark">Start Date :</label>
              <label id="start-lectureDate" class="col-form-label ml-1">{{viewData.startDate}}</label>
            </div>

            <div class="d-inline-block col-6">
              <label for="end-lectureDate" class="col-form-label font-weight-bold text-dark">End Date :</label>
              <label id="end-lectureDate" class="col-form-label ml-1">{{viewData.endDate}}</label>
            </div>


            <div class="d-inline-block col-6">
              <label for="cor-category" class="col-form-label font-weight-bold text-dark">Course Category :</label>
              <label id="cor-category" class="col-form-label ml-1">{{viewData.corCategory}}</label>
            </div>

            <div class="d-inline-block col-6">
              <label for="cor-type" class="col-form-label font-weight-bold text-dark">Course Type :</label>
              <label id="cor-type" class="col-form-label ml-1">{{viewData.corType}}</label>
            </div>


            <div class="d-inline-block col-6">
              <label for="cor-level" class="col-form-label font-weight-bold text-dark">Course Level :</label>
              <label id="cor-level" class="col-form-label ml-1">{{viewData.corLevel}}</label>
            </div>


            <div class="d-inline-block col-6">
              <label for="inst-name" class="col-form-label font-weight-bold text-dark">Instructor Name :</label>
              <label id="inst-name" class="col-form-label ml-1">{{viewData.instructorName}}</label>
            </div>


            <div class="d-inline-block col-6">
              <label for="std-num" class="col-form-label font-weight-bold text-dark">Students Num :</label>
              <label id="std-num" class="col-form-label ml-1">{{viewData.studentNum}}</label>
            </div>


            <div class="d-inline-block col-6">
              <label for="description" class="col-form-label font-weight-bold text-dark">Description :</label>
              <label id="description" class="col-form-label ml-1">{{viewData.description}}</label>
            </div>

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">

            <!--<div class="col-4">-->
              <app-view-announcment></app-view-announcment>
            <!--</div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

