<div class="row">
  <!-- Textual inputs start -->
  <div class="col-6 mt-5 mb-5 " style="margin: auto">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Create New Quiz</h4>
        <form [formGroup]="formData">
        <div class="form-group">
          <label for="quiz_name" class="col-form-label">Quiz Name</label>
          <input class="form-control" formControlName="quizName" type="text" id="quiz_name">
          <small *ngIf="formData.get('quizName').hasError('required')">quiz name is required</small>
          <small *ngIf="formData.get('quizName').hasError('maxlength')">quiz has max length 25 character</small>
        </div>
        <div class="form-group">
          <label for="quiz_grade" class="col-form-label">Grade</label>
          <input class="form-control" formControlName="quizGrade" type="number" id="quiz_grade">
        </div>

        <div class="form-group">
          <label for="start_date" class="col-form-label">Start Date</label>
          <input class="form-control" formControlName="startDate" type="date" id="start_date">
        </div>
          <div class="form-group">
            <label for="finish_date" class="col-form-label">close Date</label>
            <input class="form-control" formControlName="finishDate" type="date" id="finish_date">
          </div>
        </form>
        <a [routerLink]="['/course' ,corID ,'quiz','questions']"><button  class="btn btn-primary pull-right ml-2" (click)="onSubmitNewQuiz()">Next</button> </a>
        <button class="btn btn-dark pull-right">Cancel</button>
      </div>
    </div>
  </div>
</div>
