<div class="main-content-inner">
  <div class="row">
    <div class="col-md-6 ">
      <div class="row">
        <!-- Textual inputs start -->
        <div class=" offset-6 col-12 mt-5 mb-5">
          <div class="card">
            <div class="card-body">
              <h1 class="header-title">Edit Profile</h1>

<hr>

              <div class="form-group">
                <label for="first-name" class="col-form-label">First Name</label>
                <input class="form-control" type="fullname" value= "{{userData.fullName}}" id="first-name">
              </div>

              <div class="form-group">
                <label for="last-name" class="col-form-label">Last Name</label>
                <input class="form-control" type="lastname" value= {{userData.fullName}} id="last-name">
              </div>

              <div class="form-group">
                <label for="age" class="col-form-label">Age</label>
                <input class="form-control" type="age" value="name@example.com" id="age">
              </div>

              <div class="form-group">
                <label for="gender" class="col-form-label">Gender</label>
                <input class="form-control" type="gender" value="name@example.com" id="gender">
              </div>

              <div class="form-group">
                <label for="email" class="col-form-label">E_mail</label>
                <input class="form-control" type="email" value="name@example.com" id="email">
              </div>

              <div class="form-group">
                <label for="phone" class="col-form-label">Phone</label>
                <input class="form-control" type="phone" value="" id="phone">
              </div>

              <div class="form-group">
                <label for="college" class="col-form-label">College</label>
                <input class="form-control" type="college" value="" id="college">
              </div>

              <div class="form-group">
                <label for="user-name" class="col-form-label">User Name</label>
                <input class="form-control" type="username" value="" id="user-name">
              </div>
              <hr>

              <div class="card-action">
                <button class="btn   btn-success btn-sm pull-right mr-2 mb-2">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
