
.img-preview-container{
  background-color: snow;
  position: center;
}
.img-preview{
  background: center center no-repeat;
  background-size: contain;
  height: 220px;
  width: 220px;
}
