<div class="full-page-content">
  <div class="page-title-area">
    <div class="row align-items-center ">
      <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix mt-2">
          <h4 class="page-title pull-left">User Profile</h4>
        </div>
        <div class="breadcrumbs-area clearfix">
          <ul class="breadcrumbs pull-left mt-3">
            <li><a [routerLink]="[ROUTES.WELCOME]">Home</a></li>
            <li><span>{{userVto.fullName}}</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 clearfix">
        <div class="pull-right">
          <a [routerLink]="[replaceUserID(ROUTES.EDIT,userVto.id)]">
            <button class="btn  btn-primary btn-sm pull-right mr-2 mb-2"> Edit</button>
          </a>

        </div>
      </div>
    </div>

  </div>
  <div class="full-page-content-area">

    <div class="row">
      <div class=" offset-2 col-md-8">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h5>{{userVto.fullName}}</h5>
              <hr>

              <div class="d-inline-block col-6">
                <label for="full-name" class="col-form-label font-weight-bold text-dark ">User Name : &nbsp; &nbsp; &nbsp; </label>
                <label id="full-name" class="col-form-label label label-info ml-1">{{userVto.userName}}</label>
              </div>

              <div class="d-inline-block col-6">
                <label for="birthDate" class="col-form-label font-weight-bold text-dark ">Age : &nbsp; &nbsp; &nbsp; </label>
                <label id="birthDate" class="col-form-label label label-info ml-1">{{userVto.age}}</label>
              </div>

              <div class="d-inline-block col-6" >
                <label for="gender" class="col-form-label font-weight-bold text-dark ">Gender : &nbsp; &nbsp; &nbsp; </label>
                <label id="gender" class="col-form-label label label-info ml-1">{{userVto.gender}}</label>
              </div>

              <div class="d-inline-block col-6">
                <label for="e_mail" class="col-form-label font-weight-bold text-dark ">E-mail : &nbsp; &nbsp; &nbsp;</label>
                <label id="e_mail" class="col-form-label label label-info ml-1"><a href="#">{{userVto.email}}</a></label>
              </div>

              <div class="d-inline-block col-6">
                <label for="phone" class="col-form-label font-weight-bold text-dark">Phone : &nbsp; &nbsp; &nbsp; </label>
                <label id="phone" class="col-form-label label label-info ml-1">{{userVto.phone}}</label>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




