<div class="full-page-content">
  <div class="page-title-area">
    <div class="row align-items-center content-header">
      <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix">
          <h4 class="page-title pull-left">My Courses</h4>
        </div>
        <div class="breadcrumbs-area clearfix">
          <ul class="breadcrumbs pull-left mt-3">
            <li><a [routerLink]="[ROUTES.WELCOME]">Home</a></li>
            <li><span>My Course</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 clearfix">
        <div class="pull-right">
          <a class="btn btn-success btn-header"
             *authorizeAction="[AUTH_ACTIONS.ADD_COR]"
             [routerLink]="[ROUTES.COR_CREATE]">
            <i class="fa fa-plus pr--10"></i> Add Course</a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="page-title-area">-->
    <!--<div class="row align-items-center content-header">-->
      <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="breadcrumbs-area clearfix">&ndash;&gt;-->
          <!--&lt;!&ndash;<h4 class="page-title pull-left">New Course</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="breadcrumbs-area clearfix">&ndash;&gt;-->
          <!--&lt;!&ndash;<ul class="breadcrumbs pull-left mt-3">&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a [routerLink]="[ROUTES.COURSE_LIST]">Courses</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><span>Create Course</span></li>&ndash;&gt;-->

          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="col-sm-6 clearfix">-->
        <!--<div class="pull-right">-->
          <!--<a class="btn btn-success btn-header"-->
             <!--*authorizeAction="[AUTH_ACTIONS.ADD_COR]"-->
             <!--[routerLink]="[ROUTES.COR_CREATE]">-->
            <!--<i class="fa fa-plus pr&#45;&#45;10"></i> Add Course</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="full-page-content-area">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!--<div class="card-area">-->
            <div class="row">
              <div class="col-lg-3 col-md-6 mt-5" *ngFor="let course of resultSet.listStudent | paginate: { id: 'myCourseList',
                itemsPerPage: PAGE_SIZE,
                currentPage: pageNum,
                totalItems: resultSet.totalRecords }">
                <div class="card card-bordered align-img-center">
                  <img class="card-img-top img-fluid course-img pt--20" src="{{BASE_URL}}/course/{{course.id}}/img" alt="image">
                  <div class="card-body p-3">
                    <h5 class="title text-success clickable" [routerLink]="[replaceCorID(ROUTES.COURSE_INFORMATION, course.id)]">
                      {{course.courseName}}
                    </h5>
                    <h5 class="title">
                      {{course.duration}} Hr - {{course.startDate | date: 'dd MMM yyyy'}}
                    </h5>
                    <h5 class="title">
                      By {{course.instructorName}}
                    </h5>
                    <p class="card-text">{{course.description | textSubStr: 90}}</p>
                  </div>

                </div>
              </div>

            </div>
          <!--</div>-->

          <div class="row align-content-center">
            <pagination-controls class="pagination justify-content-center" id="myCourseList"
                                 (pageChange)="onPageChange($event)"
                                 directionLinks="true" [autoHide]="false"
                                 previousLabel="" nextLabel="">
            </pagination-controls>

          </div>
        </div>
      </div>
    </div>
  </div>

    </div>

