  <div class="row">
    <div class="container-fluid">
          <!-- Textual inputs start -->
          <div class="col-12 mt-5">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title">Course Main Details</h4>
                <form [formGroup]="formData">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Name</label>
                  <input class="form-control" formControlName="courseName" type="text" value="Enter Course Name - less than 25 char" id="example-text-input">
                </div>

                <div class="form-group">
                  <label for="example-number-input" class="col-form-label">Duration</label>
                  <input class="form-control" formControlName="duration" type="number" value="Duration with Hours" id="example-number-input">
                </div>

                <div class="form-group">
                  <label for="example-date-input" class="col-form-label">Start Date</label>
                  <input class="form-control" formControlName="startDate" type="date" id="example-date-input">
                </div>

                <div class="form-group">
                  <label for="example-date-input" class="col-form-label">End Date</label>
                  <input class="form-control" formControlName="endDate" type="date" id="example-date">
                </div>


                <div class="form-group">
                  <label class="col-form-label">Category</label>
                  <select class="form-control" formControlName="categoryID">
                    <option *ngFor="let category of corCategory" [ngValue]="category.id">{{category.labelEn}}</option>
                  </select>
                </div>

                <div class="form-group" >
                  <label class="col-form-label">Type</label>
                  <select class="form-control"formControlName="typeID" >
                    <option *ngFor="let type of corType" [ngValue]="type.id">{{type.labelEn}}</option>
                  </select>
                </div>

                <div class="form-group" >
                  <label class="col-form-label">Level</label>
                  <select class="form-control" formControlName="levelID">
                    <option *ngFor="let level of corLevel" [ngValue]="level.id">{{level.labelEn}}</option>
                  </select>
                </div>

                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label">Description</label>
                    <input class="form-control" formControlName="description" type="text" value="Enter Description - less than 200 char" >
                  </div>


                <div class="row">
                  <div class="pull-right card-action">
                    <button class="btn btn-success" (click)="addCourseData()">Next</button>
                    <button class="mg-l-15 btn btn-danger">Back</button>
                  </div>
                </div>
                </form>

              </div>
            </div>
          </div>
          </div>
        </div>
