/* You can add global styles to this file, and also import other style files */
.clickable{
  cursor: pointer;
}


.content-header{
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-header{
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 16px !important;
}

.page-content{
  padding-bottom: 100px;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  width: 100%;
}
.page-content-area{
  padding-top: 20px;
}

.full-page-content{
  padding-bottom: 100px;
  height: 100%;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  overflow-y: scroll;

}
.full-page-content-area{
  padding-top: 20px;
}
