
<div class="page-title-area">
  <div class="row align-items-center content-header">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">New Announcement</h4>
      </div>
      <div class="breadcrumbs-area clearfix">
        <ul class="breadcrumbs pull-left mt-3">
          <li><a [routerLink]="[ROUTES.COURSE_LIST]">Course</a></li>
          <li><span>Announcement</span></li>

        </ul>
      </div>
    </div>
    <div class="col-sm-6 clearfix">
      <div class="pull-right">
        <a class="btn btn-success btn-header"
           [routerLink] ="[replaceCorID(ROUTES.COR_NEW_ANNOUNCEMENT, corID)]">
          <i class="fa fa-plus pr--10"></i> Add Announcement</a>
      </div>
    </div>
  </div>
</div>






<div class="offset-3 col-lg-6 mt-5" *ngFor="let announcment of announcmentList">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title">{{announcment.title}}</h4>
      <p>
        {{announcment.content}}
      </p>
      <h5 class="date-footer pull-right mt-4">
        {{announcment.announcmentDate | date: 'dd MMM yyyy h:mm a' }}</h5>
    </div>
  </div>
</div>

