<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title">Attendance Sheet</h4>
      <div class="single-table">
        <div class="table-responsive">
          <div class="fw-icons pull-right " ><a [routerLink] ="['/course' ,corID ,'attendance' , 'new']"><i
            class="fa fa-plus-circle"></i>
            Add new attendance sheet </a>
          </div>
          <table class="table text-center">
            <thead class="text-uppercase bg-info">
            <tr class="text-white">
              <th>#</th>
              <th >Name</th>
              <th *ngFor="let sheet of tableView[0] | slice:1:tableView[0].length; index as i ; ">
                <!--<ng-template [ngIf]="i!=0"></ng-template>-->
                {{sheet}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableView | slice:1:tableView.length;index as i;">
              <td >{{i+1}}</td>
              <td >{{row[0]}}</td>
              <td *ngFor="let isAttend  of tableView[i] | slice:1:tableView[i].length ; index as j;">
                <span class="badge badge-primary" *ngIf=" isAttend">attend</span>
                <span class="badge badge-danger" *ngIf=" !isAttend">absent</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
