
<!--TODO: Yara - Don't Use Cards check the home.component.html and make use of it-->
<div class="mt-4 row">
  <div class="offset-3 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Attendance</div>
      </div>
      <div class="card-body">
        <form [formGroup]="formData">

          <div class="row">
            <div class="form-group col-md-6">
              <label class="col-form-label" for="course">Course</label>
              <select (change)="onChangeCourse($event.target.value)" class="form-control" id="course" formControlName="course">
                <option *ngFor="let cor of corTypes" value="{{cor.id}}">{{cor.labelEN}}</option>

              </select>
            </div>
            <div class="form-group col-md-6">
              <!--TODO: Yara - Label here should be Attendance Date-->
              <label for="example-date-input" class="col-form-label">Date</label>
              <input class="form-control" type="date" id="example-date-input" formControlName="date">
            </div>
          </div>

        </form>

        <div class="form-check " *ngFor="let item of attendence.stdList; index as i">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="toggleEditable(i)" >
          <label class="form-check-label" for="exampleCheck1">{{item.fullName}}</label>
        </div>

        <button type="submit" class="btn btn-lg btn-success mr-1 btn-sm pull-right mg-l-15" (click)="saveAttend()">Submit</button>

    </div>
  </div>
</div>
</div>
