

<!-- profile info & task notification -->
<div class="col-md-12 col-sm-12 clearfix">
  <div class="logo-header pull-left" *ngIf="showLogo">
    <img class="avatar" src="assets/images/icon/logo.png" alt="logo">
  </div>
  <div class="user-profile pull-right">
    <img class="avatar user-thumb" src="{{BASE_URL}}/user/{{currentUser.userID}}/img" alt="avatar">
    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
      {{currentUser.roleIDs.includes(AUTH_ROLES.INSTRUCTOR) ? 'Dr. ' : ''}}
      {{currentUser.fullName}} <i class="fa fa-angle-down"></i>
    </h4>
    <div class="dropdown-menu">
      <a class="dropdown-item" [routerLink]="ROUTES.MY_COURSES">My Courses</a>
      <a class="dropdown-item" *authorizeView="AUTH_VIEWS.USER_LIST" [routerLink]="ROUTES.SETTING_USER_LIST">All Users</a>
      <a class="dropdown-item" [routerLink]="[replaceUserID(ROUTES.USER_PROFILE, currentUser.userID)]">Profile</a>
      <a class="dropdown-item" (click)="logOut()">Log Out</a>
    </div>
  </div>
</div>

