<div class="page-title-area">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Tutorials</h4>
      </div>
    </div>
  </div>
</div>

<div class="col-11 mt-3 ml-5">
  <div class="card">
    <div class="card-body">

      <form [formGroup]="formData">

        <div class="row">

          <div class="form-group col-md-6 mb-5">
            <label class="col-form-label" for="courseID">Course</label>
            <select class="form-control" id="courseID" formControlName="courseID">
              <option *ngFor="let cor of courses" value="{{cor.id}}">{{cor.name}}</option>
            </select>
          </div>
        </div>

      </form>

      <ejs-richtexteditor id='iframeRTE' [(value)]='value' [toolbarSettings]='tools'></ejs-richtexteditor>

      <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary pull-right mg-l-15 ml-2">Save</button>
        <button type="submit" class="btn btn-primary pull-right mg-l-15">Submit</button>
      </div>


    </div>

  </div>
</div>

<!--<div class="col-12">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->

      <!--<div>-->
        <!--<label>Output : </label>-->
        <!--<label>{{value}}</label>-->
      <!--</div>-->

    <!--</div>-->

  <!--</div>-->
<!--</div>-->





