<div class="page-container">
  <!-- sidebar menu area start -->
  <div class="sidebar-menu">
    <div class="sidebar-header">
      <div class="logo">
        <a><img src="assets/images/icon/logo.png" alt="logo"></a>
      </div>
    </div>
    <div class="main-menu">
      <div class="menu-inner">
        <nav>
          <app-user-side-bar [userID]="userID">
          </app-user-side-bar>
        </nav>
      </div>
    </div>
  </div>
  <!-- main content area start -->
  <div class="main-content">
    <!-- header area start -->
    <div class="header-area">
      <app-sms-header class="row align-items-center"></app-sms-header>
    </div>
    <!--<div style="overflow-y: scroll;">-->
    <router-outlet></router-outlet>
    <!--</div>-->
  </div>

  <app-sms-footer style="position: relative;"></app-sms-footer>
</div>
