<div class="col-md-8 mt-5 offset-2">

  <div class="card">
    <div class="card-body">
      <h4 class="header-title" >Course Lectures</h4>
      <div class="fw-icons" >
        <a [routerLink] ="['/course' ,corID ,'lecture' ,'new']">
          <i class="fa fa-plus-circle"></i>
          Add new lecture</a>
      </div>
      <!--<ul class="list-group" >-->
      <!--<div *ngFor="let lec of lectureList">-->


      <!--</a>-->
      <!--<br>-->
      <!--</div>-->
      <!--</ul>-->
      <div class="market-status-table mt-4">
        <div class="table-responsive">
          <table class="dbkit-table">
            <tr class="heading-td">
              <td class="lec-num">#</td>
              <td class="lec-title">Title</td>
              <td class="lec-lectureDate">Date</td>
            </tr>
            <tr *ngFor="let lecture of lectureList , index as i">
              <td class="lec-num">{{i +1}}</td>
              <td class="lec-title">{{lecture.lectureTitle}}></td>
              <td class="lec-lectureDate">{{lecture.lectureDate}}</td>
            </tr>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
